html, body, div {
  margin: 0;
  padding: 0;
}

.u-button {
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
}

.u-button:link, .u-button:visited {
  background: #EEEEEE;
  color: #333333;
}

.u-button:hover {
  background: #DDDDDD;
  color: #333333;
}

.g-wrapper {
  width: 900px;
  margin: 0 auto;
}

.m-main {
  margin: 10px;
  padding: 20px;
}